* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: "Odibee Sans", cursive;
	scroll-behavior: smooth;
}

body {

	background-color: #0a2a43;
}

.landing {
	height: 100vh;
	/* background-color: #0cbaba;
	background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
	background-image: url("./components/bg.jpg"); */
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.main-title {
	position: relative;
	margin-top: 67%;
	/* top: 50%;
	left: 50%;
	letter-spacing: 10px;
	transform: translate(-50%, -50%); */
	font-size: 10vw;
	font-family: "Odibee Sans", cursive;
	color: #000;
	text-shadow: 4px 5px rgb(134, 134, 139);
	/* background: linear-gradient(to right, #ec38bc 0%, #7303c0 51%, cyan 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
	/* -webkit-text-stroke: 2px #fff; */
	/* white-space: nowrap; */
	z-index: 2;
}
.down-arrow {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 150px;
	z-index: 3;
}
nav {
	position: absolute;
	display: flex;
	padding: 1rem 1rem;
	justify-content: space-between;
	width: 100%;
	z-index: 9;
}
.content {
	width: 100%;
	background: rgb(20, 20, 24);
	min-height: 100vh;
	z-index: 2;
	padding: 5rem 10rem;
	text-align: center;
}

.btn {
	/* background-color: rgba(22, 22, 24, 0.75);
	/* flex: 1 1 auto; */
	font-family: "Odibee Sans", cursive;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	transition: 1s;
	/* margin: 0rem 7rem; */
	background-size: 200% auto;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 5px;
	border-radius: 10px;
}
.btn-main {
	font-family: "Odibee Sans", cursive;
	font-size: 30px;
	flex: 1 1 auto;
	margin: 10px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	transition: 1s;
	background-size: 200% auto;
	color: white;
	text-decoration: none;
	font-weight: bold;
	/* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
	/* box-shadow: 0 0 10px #eee; */
	border-radius: 20px;
	cursor: pointer;
	letter-spacing: 5px;
	z-index: 3;
}
.btn:hover {
	transition: 1.5s;
	background-position: right center; /* change the direction of the change here */
}
.btn-main:hover {
	transition: 1.5s;
	background-position: right center;
	/* color: #7303c0; */
	cursor: pointer;
	letter-spacing: 10px; /* change the direction of the change here */
}
.btn-1 {
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

	position: absolute;
}
.main {
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn-2 {
	/* border: 2px solid #7303c0; */
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

	color: #fff;
}
.btn-2:hover {
	background-color: #eec0c6;
	background-image: linear-gradient(315deg, #eec0c6 0%, #7ee8fa 74%);

	/* color: #7303c0; */
}

.container {
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/* Transistion both your normal and hovered elements to allow for smooth flow when unhovered */

.card {
	background: #111;
	margin: 20px;
	height: 500px;
	width: 25%;
	transition: 1s all ease;
	border-radius: 20px;
}

/* I used background url to allow me to change the height and width without needing extra css */

.cardTop {
	transition: 0.4s all ease;
	height: 65%;
}
.cardTop img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cardBottom {
	height: 35%;
	transition: 0.4s all ease;
}

.cardText {
	min-height: 100%;
	padding: 50px;
	margin: 10px;
	letter-spacing: 8px;
}

.cardTitle {
	font-size: 24px;
	font-weight: 700;
}

.cardInfo {
	padding-top: 10px;
	font-size: 18px;
	font-weight: 500;
	color: orange;
}

/* Hidding the entire so anything we put in will only show on hover */

.cardHoverText {
	visibility: hidden;
}

/* Hover affects */

.card:hover {
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

/* Using className + hover followed by child element allows you to change child elements when parent is hovered */

.card:hover .cardHoverText {
	visibility: visible;
	transition: 0.5s all ease;
	transition-delay: 0.3s;
	margin: 50px;
}

.card:hover .cardBottom {
	transition: 0.5s all ease;
	height: 65%;
	opacity: 1;
}

.card:hover .cardTop {
	height: 35%;
	opacity: 0.8;
	transition: 0.5s all ease;
}

.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 7px;
	font-family: "cardo";
	letter-spacing: 2px;
	font-size: 10px;
	color: white;
	text-align: center;
	background: rgb(20, 20, 24);
}

/* parallax */

#sec {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#sec::before{
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100px;
    background: linear-gradient(to top, #0a2a43, transparent);
	z-index: 1000;
}
/* #sec::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    background: #0a2a43;
	z-index: 1000;
	mix-blend-mode: color;
} */

#sec img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

#road{
	z-index: 3;
}

#mountain {
	z-index: 1;
}