* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: #fff;
	font-family: "Poppins", sans-serif;
}

.container {
	height: 100vh;
	background: rgb(22, 22, 24);
	background-image: url("./components/shit.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.container h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 7vw;
	background: linear-gradient(to right, #ec38bc 0%, #7303c0 51%, cyan 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px #fff;
	white-space: nowrap;
}

nav {
	position: absolute;
	display: flex;
	padding: 1rem 1rem;
	justify-content: space-between;
	width: 100%;
}
.content {
	width: 100%;
	background: rgb(20, 20, 24);
	min-height: 100vh;
	z-index: 2;
	padding: 5rem 10rem;
	text-align: center;
}

.btn {
	/* background-color: rgba(22, 22, 24, 0.75);
	/* flex: 1 1 auto; */
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	transition: 1s;
	/* margin: 0rem 7rem; */
	background-size: 200% auto;
	text-decoration: none;
	font-size: 15px;
	/* font-weight: bold; */
	letter-spacing: 5px;
	/* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	/* box-shadow: 0 0 10px #eee; */
	border-radius: 10px;
	color: black;
}
.btn-main {
	flex: 1 1 auto;
	margin: 10px;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	transition: 1s;
	background-size: 200% auto;
	color: white;
	text-decoration: none;
	/* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
	/* box-shadow: 0 0 10px #eee; */
	border-radius: 20px;
	cursor: pointer;
	letter-spacing: 5px;
}
.btn:hover {
	transition: 1.5s;
	background-position: right center; /* change the direction of the change here */
}
.btn-main:hover {
	transition: 1.5s;
	background-position: right center;
	color: #7303c0;
	cursor: pointer;

	letter-spacing: 10px; /* change the direction of the change here */
}
.btn-1 {
	background-image: linear-gradient(
		to right,
		#ec38bc 0%,
		#7303c0 51%,
		cyan 100%
	);

	position: absolute;
}
.main {
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn-2 {
	border: 2px solid #7303c0;
	color: #7303c0;
}
.btn-2:hover {
	background-image: linear-gradient(
		to right,
		#ec38bc 0%,
		#7303c0 51%,
		cyan 100%
	);
	color: #7303c0;
}
.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 7px;
	font-family: "cardo";
	letter-spacing: 2px;
	font-size: 10px;
	color: white;
	text-align: center;
	background: rgb(20, 20, 24);
}
<<<<<<< Updated upstream
=======
/* @media screen and (max-width: 768px) {
	h1 {
		font-size: 15px;
	}
	h2 {
		font-size: 15px;
	}
} */


.container2{
	position: relative;
	width: 100%;
    display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px;
	
	flex-direction: row;
	box-shadow: 0 5px 202px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
	flex-wrap: wrap;
	display:flex;
    
	

}

.container2 .card {
	position: relative;
	width: 200px;
	height: 250px;
	background-color: #fff;
	box-shadow: 0 5px 202px rgba(0,0,0,0.5);
	transition: 0.3s ease-in-out;
	box-sizing: border-box;
	flex-wrap: wrap;
	margin: 15px;

	
}

.container2 .card:hover{
	height: 420px;

}

.imgBx{
	position: relative;
	flex-wrap: wrap;
	flex-direction: column;
}
img{
	height: 100px;
	width: 150px;

}

.container2 .card .imgBx img{
	max-width: 100%;
	border-radius: 4px;
	 
}

.container2 .card .content{
	position: relative;
	margin-top: -140px;
	padding: 10px 15px;
	text-align: center;
	color: #111;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s ease-in-out;
	height: 100px;
}
.container2 .card:hover .content{
	visibility: visible;
	opacity: 1;
	margin-top: 40px;
	transition-delay: 0.3s;
}
>>>>>>> Stashed changes
