* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	text-decoration: none;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	background-color: #E6E6FA;
	/* background: #0a2a43;
	background-image: url("../components/bg-glitch.jpeg");
	background-repeat: no-repeat;
	background-size: cover; */
	max-height: 100vh;
	overflow: hidden;
}
.heading {
	padding: 20px;
}
.heading h1 {
	color: #5858cf;
	font-size: 70px;
	font-family: "VT323", monospace;
	letter-spacing: 13px;
	text-transform: uppercase;
	text-shadow: 2px 2px #fff;
}
.container {
	position: absolute;
	margin: 30px;
	width: 75%;
	display: flex;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 7px;
	font-family: "cardo";
	letter-spacing: 2px;
	font-size: 10px;
	color: white;
	text-align: center;
}
